@viewport {
   zoom: 1.0;
   width: device-width;
}

.square { 
    height: 25px;
    width: 100%;
    background-color: black;
    position: relative;
    top: -35px;
}

.square2 {
  height: 40px;
  width: 100%;
  background-color: black;
  position: relative;
  top: 820px;
  color: rgb(235, 215, 187);
  padding-top: 10px;
  padding-left: 15px;
}

#label1 {
  top: -78px;
  width: 300px;
  height: 300px;
  left: 820px;
}

#label3 {
  top: 600px;
  width: 300px;
  height: 300px;
  left: 90px;
}

h2 {
  padding-left: 20px;
  
}

/*text whithin border*/
#para {
  padding-left: 20px;
  font-size: large;
  inline-size: 500px;
  
}

/*border*/
#p1 {
  border-style: double;
  position: fixed;
  height: 830px;
  width: 500px;
  top: 100px;
}

/*2nd border*/
.box2 {
  border-style: double;
  position: fixed;
  height: 830px;
  width: 485px;
  top: 116px;
  left: 1428px;
}

/*popular cake 1 image*/
#c1 {
  position: fixed;
  left: 1440px;
  width: 200px;
  height: 200px;
  bottom: 630px;
}

/*popular cake 2 image*/
#c2 {
  position: fixed;
  left: 1440px;
  width: 200px;
  height: 200px;
  bottom: 420px;
}

/*popular cake 3  image*/
#c3 {
  position: fixed;
  left: 1440px;
  width: 200px;
  height: 200px;
  bottom: 210px;
}

/*popular btn*/
#popbtn {
  position: fixed;
  left: 1575px;
  top: 840px;
  width: 200px;
  border-radius: 40px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: rgb(243, 213, 171);
}

/*popular icon*/
#popicon {
  position: fixed;
  left: 1644px;
  top: 836px;
  height: 70px;
  width: 70px;
}


/*popular btn hover effect*/
#popbtn:hover {
  background-color: rgb(241, 198, 136);
}


body {
    background-color: rgb(235, 215, 187);
}

h4 {
    position: relative;
    top: -28px;
}

* {box-sizing:border-box}

.slideshow-container {
  max-width: 800px;
  position: relative;
  top: 500px;
  left: 550px;
}

.mySlides {
  display: inline;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  bottom: 500px;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: rgb(241, 230, 213);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
  background-color: black;
}

.next:hover {
    background-color: red;
}

.prev {
  background-color: rgb(0, 0, 0);
}

.prev:hover {
    background-color: red;
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  margin-top: 50px;
  
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

img {
    width: 600px;
    position: fixed;
    left: 658px;
    bottom: 550px;
}


#cake01 {
    width: 600px;
    position: center;
    left: 658px;
    bottom: 550px;
    height: 338px;  
}

/*This is the link*/
#link1 {
  color: black;
}

/*button1 bgd color*/
#btn:hover {
  background-color: rgb(241, 198, 136);
}

/*this is the order now btn*/
  #btn {
  background-color: rgb(243, 213, 171);
  position: relative;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 30px;
  padding-bottom: 30px;
  top: 200px;
  left: 856px;
  font-size: large;
  font-family: cursive;
  border-radius: 40px;
}

/*this is the menu button*/
#btn1 {
  background-color: rgb(243, 213, 171);
  position: relative;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 30px;
  padding-bottom: 30px;
  top: 300px;
  left: 655px;
  font-size: large;
  font-family: cursive;
  border-radius: 40px;
  width: 200px;
}

/*menu hover color*/
#btn1:hover {
  background-color: rgb(241, 198, 136);
}

/*color for link2*/
#link2 {
  color: black;
}

#name1 {
  position: fixed;
  left: 1650px;
  top: 160px;
}
